body    {
    background-color: yellow;
    font-family:Arial, sans-serif;
    color:gray;
}
img {
    border: 5px solid black;
    border-radius: 10%;
}
button  {
    color:red;
}
h1  {
    color:black;
}
table   {
    background-color:darkseagreen;
    color:black;
    border-radius: 5%;
    border: 10px solid pink;
}
article {
    color:blueviolet;
}