body    {
    font-family:Arial, sans-serif;
    color:darkblue;
    background-color:royalblue;
}
header  {
    padding:5px;
    margin:30px;
}
main    {
    padding:20px;
    margin:20px;
}
footer  {
    padding:20px;
    margin:20px;
    text-align:center;
}
img {
    border:10px solid darkmagenta;
    border-radius:40%;
}
nav ul li a:hover   {
    color:hotpink;
}
ul  {
    display: flex;
    gap:20px;
    text-align:center;
}
ol  {
    list-style-position: inside;
    text-align:center;
}